
<footer class="mt-auto">
                
    <a href="https://www.linkedin.com/in/drewmainprize" target="_blank" class="fa fa-linkedin media"></a>
    <a href="https://www.github.com/DrewMainprize" target="_blank" class="fa fa-github media"></a>
</footer>

</div>
</body>
</html>