<%- include("partials/header") %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0"><a href="/" class="brand">Drew Mainprize</a></h3></a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
                <a class="nav-link" href="/resume">Resume</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
    </header>

<main>

    <section class="mt-auto py-5 text-center container topbar">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">

                    <i class="floating fa fa-code-fork float"></i>

                    <h1 class="fw-heavy">My <span class="cool bold">Projects</span></h1>
                    <p class="lead">Work that I've done ranging from side projects, freelance work, or over the course of my degree.</p>
                    <p class="lead text-muted">Some of my applications are hosted on a Heroku Free Dyno Plan, meaning on initial load, there may be a small delay for the server to start.</p>
                    <p>   
                    <a href="/resume" class="btn btn-lg btn-danger my-2">Resume</a>
                    <a href="/contacts" class="btn btn-lg btn-primary my-2">Contact</a>
                </p>
            </div>
        </div>
    </section>
  
    <div class="album py-5 bg-light">
        <div class="container">
  
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/project1.png" class="projImg">

                        <div class="card-body">
                            <p class="card-text"><strong>Photography Portfolio.</strong> Technologies used include NodeJS, ExpressJS, EJS, HTML5, CSS3, Bootstrap 4 and MongoDB</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://fast-dusk-24940.herokuapp.com/" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel" viewBox="0 0 16 16">
                                            <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"/>
                                        </svg>
                                         Live Preview
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
                                            <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"/>
                                        </svg>
                                         Source Code
                                    </a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/project2.png" class="projImg">

                        <div class="card-body">
                            <p class="card-text"><strong>Proximity Sensor.</strong> Written in Python, uses Raspberry Pi and sensor module to detect how close an object is and update LED's accordingly.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel" viewBox="0 0 16 16">
                                            <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"/>
                                        </svg>
                                         Live Preview
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://github.com/DrewMainprize/ProximitySensor" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
                                            <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"/>
                                        </svg>
                                         Source Code
                                    </a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div> 
                
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img src="/images/project1.png" class="projImg">
                        </div>

                        <div class="card-body">
                            <p class="card-text"><strong>Photography Portfolio.</strong> Technologies used include NodeJS, ExpressJS, EJS, HTML5, CSS3, Bootstrap 4 and MongoDB</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="https://fast-dusk-24940.herokuapp.com/" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel" viewBox="0 0 16 16">
                                            <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"/>
                                        </svg>
                                         Live Preview
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="#" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
                                            <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"/>
                                        </svg>
                                         Source Code
                                    </a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

  
  </main>
  

  
  
  <%- include("partials/footer") %>