<%- include("partials/header") %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0"><a href="/" class="brand">Drew Mainprize</a></h3></a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="/projects">Projects</a>
                <a class="nav-link active" href="/resume">Resume</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
    </header>

    <main>

        <section class="mt-auto py-5 text-center container topbar">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
    
                        <i class="floating fa fa-code-fork float"></i>
    
                        <h1 class="fw-heavy">My <span class="cool bold">Resume</span></h1>
                        <p class="lead">My resume, formatted for the browser. For a pdf copy click the button below.</p>  
                        <a href="/projects" class="btn btn-lg btn-danger my-2">Projects</a>
                        <a href="/contacts" class="btn btn-lg btn-primary my-2">Contact</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="py-5 bg-light">
            <div class="container">



            </div>

        </div>
<%- include("partials/footer") %>