<%- include("partials/header") %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0"><a href="/" class="brand">Drew Mainprize</a></h3></a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="/projects">Projects</a>
                <a class="nav-link active" href="/resume">Resume</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
    </header>

    <main>

        <section class="mt-auto py-5 text-center container topbar">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
    
                        <i class="floating fa fa-user float"></i>
    
                        <h1 class="fw-heavy">My <span class="cool bold">Resume</span></h1>
                        <p class="lead">My resume, formatted for the browser. For a pdf copy click the link below.</p>  
                        <a href="/projects" class="btn btn-lg btn-danger my-2">Projects</a>
                        <a href="/contact" class="btn btn-lg btn-primary my-2">Contact</a>

                        <div class="container mt-auto">
                            <p>For a PDF copy of my resume click <a class="links" href="/uploads/DrewMainprize.pdf" target="_blank">here</a></p>
                        </div>
                </div>
            </div>
        </section>

        <div class="py-5 bg-light resume">
            <div class="container">



                <h2>Experience</h2>

                <h4>Mark’s Work Wearhouse, Ancaster <span class="resumeSec">- Sales Associate</span></h4>
                <ul>
                    <li>Assist customers and assure they have the best possible experience in the store</li>
                    <li>Fulfilling and processing of online orders</li>
                    <li>Handle cash register, customer service, basic shipping/receiving</li>
                </ul>

                <h4>Pool Supplies Canada <span class="resumeSec">- Warehouse Associate - Freight Department</span></h4>
                <ul>
                    <li>Ship freight orders accurately and efficiently</li>
                    <li>Quality control orders to ensure accuracy</li>
                    <li>Communicate and problem solve with team members on various order-related issues</li>
                </ul>

                <h4>Ancaster Little League <span class="resumeSec">- Umpire</span></h4>
                <ul>
                    <li>Umpire Little League games for children aged 6 - 13</li>
                    <li>Interact with parents, coaches, players and colleagues</li>
                    <li>Take responsibility for games and league operations running smoothly</li>
                </ul>



                <h2>Education</h2>

                <h4>University of Guelph, Guelph ON. <span class="resumeSec">- Bachelor of Computing Honours</span></h4>
                <ul>
                    <li>Third year standing</li>
                    <li>Major in Computing and Information Science</li>
                    <ul>
                        <li>Courses with a focus on programming and the theory of computation</li>
                        <li>Practical experience in software development, hardware and the theoretical side of
                            computing
                        </li>
                    </ul>
                    <li>Minor in Psychology</li>
                    <li>Dean’s list - Winter 2020, Winter 2021</li>
                </ul>

                <h4>Carleton University, Ottawa ON. <span class="resumeSec">- Bachelor of Cognitive Science Honours</span></h4>
                <ul>
                    <li>Specialization in Cognition and Computation</li>
                    <ul>
                        <li>Courses concerned with computation, coding and artificial intelligence</li>
                        <li>Experience working with multiple coding languages and, proper coding styles and
                            functional programming
                        </li>          
                    </ul>
                    <li>Broad major with courses in areas such as computer science, psychology, linguistics,
                        neuroscience and philosophy
                    </li>
                    <li>Transferred to University of Guelph after one full year (5.0 credits)</li>
                </ul>

                <h4>Ancaster High School, Ancaster ON. <span class="resumeSec">- High School Diploma</span></h4>
                <ul>
                    <li>Graduating class of 2018</li>
                </ul>

                

                <h2>Skills</h2>

                <h4>Web Development Bootcamp <span class="resumeSec">- Online Udemy Certificate Inst. Colt Steele</span></h4>
                <ul>
                    <li>47 hours of web development lectures, projects, final project and deployment</li>
                    <li>Covering HTML, CSS, JS, Node.js, EJS, Express, MongoDB, Git, Bootstrap 4 and Heroku</li>
                    <li>Hands on learning of both front end and back end web development concepts as well as
                        database and deployment</li>
                </ul>

                <h4>Other Skills</h4>
                <ul>
                    <li>Knowledgeable in web development concepts - Node JS, MongoDB, Express, EJS, Git and
                        Github - University level courses and self taught knowledge</li>
                    <li>Proficient in computer programming languages including Java, Python and C - University
                        level courses</li>
                    <li>Skilled in all areas of Microsoft Office - Highschool level course and background experience
                         - Word, Powerpoint, Excel</li>
                </ul>



                <h2>Volunteer Work</h2>

                <h4>Ancaster Little League <span class="resumeSec">- Umpire in Chief</span></h4>
                <ul>
                    <li>Sit on Ancaster Little League board of directors</li>
                    <li> Initiate changes and improvements related to umpiring throughout the league</li>
                    <li>Vote on important matters regarding league operations</li>
                    <li>Organize all umpires, clinics, tournaments</li>
                </ul>

                <h4>District 1 Ontario <span class="resumeSec">- Umpire</span></h4>
                <ul>
                    <li>Umpire Little League games for children aged 10 - 13 at the District, Provincial and
                        National levels</li>
                    <li>Work among highly respected umpire crews in meaningful high value games</li>
                    <li>Interact with parents, coaches, players and colleagues</li>
                </ul>


                <h2>Extra-Curricular Experience</h2>

                <h5>University Baseball - <a class="links" href="https://gryphons.ca/sports/baseball" target="_blank">Guelph Gryphons</a>, Carleton Ravens</h4>
                <h5>Competitive Baseball - <a class="links" href="https://www.brantfordredsox.com/" target="_blank">Brantford Red Sox IBL</a>, Brantford Jr. Red Sox</h4>

            </div>

        </div>
    </main>
<%- include("partials/footer") %>